html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 1em;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

/* TODO: Media query for responsive */
@media screen and (max-width: 424px) {
    html {
        font-size: 7px;
    }

    .score-panel {
         font-size: 1.5em;
    }

    .modal .modal-container {
        width: 35rem;
        font-size: 1.3em;
    }

    .modal-container .modal-btn {
        width: 10rem;
        height: 4rem;
    }

    .footer-container .footer-text {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 425px) and (max-width: 479px) {
    html {
        font-size: 9px;
     }

    .score-panel {
         font-size: 1.25em;
    }

    .modal .modal-container {
        width: 35rem;
        font-size: 1.3em;
    }

    .modal-container .modal-btn {
        width: 10rem;
        height: 4rem;
    }
}


@media screen and (min-width: 480px) and (max-width: 569px) {
    html {
        font-size: 11px;
    }

    .score-panel {
         font-size: 1.2em;
    }

}

@media screen and (min-width: 570px) and (max-width: 639px) {
    html {
        font-size: 13px;
     }
}

@media screen and (min-width: 640px) and (max-width: 700px) {
    html {
        font-size: 14px;
     }
}

/*container*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}


/*
 * Styles for the deck of cards
 */
.deck {
    width: 41.25rem;
    min-height: 42.5rem;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 2rem;
    border-radius: 0.625rem;
    box-shadow: 0.75rem 0.938rem 1.25rem 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3rem;
}

.deck .card {
    height: 7.813rem;
    width: 7.813rem;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0.313rem 0.125px 1.25rem 0 rgba(46, 61, 73, 0.5);
}

/*open card style*/
.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

/*show card style*/
.deck .card.show {
    font-size: 2.063rem;
}

/*match card style*/
.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 2.063rem;
}

.animated {
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 26rem;
    margin-bottom: 0.625rem;
    display: flex;
    justify-content: space-between;
}

/*Star rating style*/
.score-panel .stars,
.modal-star {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 0.313rem 0 0;
}

.score-panel .stars li,
.modal-star li {
    list-style: none;
    display: inline-block;

}

.star-color-lose {
    color: #ebeced;
}

/*Restart button*/
.score-panel .restart {
    display: inline-block;
    cursor: pointer;
}

/*Move counter*/
.moves {
    display: inline-block;
    width: 1.125rem;
}

/*Timer*/
.timer {
    display: inline-block;
    min-width: 5.8rem;
}


/*
 * Styles for the Modal
 */
.hide{
    display: none;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(249, 250, 251, 0.7);
    width: 100%;
    height: 100%;
}

.modal-container {
    margin: 14% auto;
    background: #fff;
    width: 31.25rem;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.6);
    padding: 0 0 1.5rem 0;
}

.modal-container header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.6rem;
    background: linear-gradient(160deg, #aa7ecd 10%, #02ccba 100%);
}

.modal-title {
    font-weight: 400;
    font-size: 1.5em;
    color: #fff;
}

/*close button*/
.close {
    cursor: pointer;
    border: none;
    background: transparent;
    color: #555;
    font-size: 1.1em;
}

.close:hover {
    color: #000;
}

/*modal data*/
.modal-content{
    display: flex;

}

.win {
    display: inline-block;
    font-size: 5em;
    margin: 1.7rem;
    color:#8a8dc9;
}

.modal-stats {
    display: flex;
    flex-direction: column;
}

.modal-txt {
    font-size: 1.1em;
}

.modal-time,
.modal-move {
    margin: 0.5rem;
    font-size: 1em;
}

.modal-star {
    margin: 0 6rem 1rem;
    font-size: 1.5rem;
}

.modal-btns {
    text-align: center;
}

.modal-btn {
    width: 7rem;
    height: 2.7rem;
    margin-left: 2rem;
    cursor: pointer;
    border-radius: 0.313rem;
    border: none;
    color: #666;
    font-size: 0.85em;
}

/*play again button*/
.play {
    background:#e1efee;
}

.play:hover {
    background: #c5ecea;
    color:#000;
}

/*cancel button*/
.cancel {
    background:#b5b7e4;
}

.cancel:hover {
    background: #aaade4;
    color:#000;
}


/*
 * Styles for footer
 */
.footer-container {
    margin: -1em auto 1em;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}
.project-name {
    color: #8a8dc9;
}

